
.event-title {
    width: 100%;
}
.event-info {
    margin-bottom: 0.5rem;
    p {
        margin: 0;
        padding: 0;
    }
}
.eventImg {
    max-width: 100%;
    height: auto;
    max-height: 60vh;
}