// card
.carousel-inner {
    max-height:400px;
    .carousel-item {
        .carousel-item-container {
            position:relative;
            width:fit-content;
            margin:0 auto;
            img {
                max-height:400px;
            }
        }
    }
}
.card-maxHeight {
    max-height: 16rem;
}
.card-img-container {
    max-width: 100%;
    max-height: 15rem;
}
.card-img-container img {
    max-width:100%;
    height: auto;
}

// apply
.apply-img {
    max-width: 100%;
    height: auto;
}

// reject
.reject-textarea {
    width: 100%;
}

a {
    text-decoration: none;
}