
.carousel-inner {
    max-height:400px;
    .carousel-item {
        .carousel-item-container {
            position:relative;
            width:fit-content;
            margin:0 auto;
            img {
                max-height:380px;
            }
        }
    }
}